.btn {
  border: 0px;
  box-sizing: border-box;
  border-radius: $border-radius-sm;
  color: $white;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  line-height: 0;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #0002;
    opacity: 0;
    pointer-events: none;
    transition: all 0.25s ease;
  }
  &:hover {
    &:after {
      opacity: 1;
      pointer-events: initial;
    }
  }
  &--block {
    width: 100%;
    display: block;
  }
  &--lg {
    padding: 31px;
  }
  &--xs {
    width: 32px;
    height: 32px;
  }
  &--brown {
    background-color: $brown-400;
  }
}
