$white: #fff;
$black: #000;

$dark: #2f2d2c;

$gray-100: #f9f9f9;
$gray-200: #b0b0b0;
$gray-300: #9b9b9b;
$gray-400: #8d8d8d;
$gray-700: #6c6c6c;

$green-700: #2f4b4e;

$red-500: #ed5151;

$brown-100: #edab81;
$brown-200: #d4ab81;
$brown-300: #c67c4e;
$brown-400: #b17445;
$brown-700: #572435;

$pink: #f1d3b9;

// Fonts
$font-family-default: Sora, sans-serif;

// Borders
$border-radius: 16px;
$border-radius-xs: 8px;
$border-radius-sm: 10px;
$border-radius-md: 12px;
$border-radius-xmd: 14px;
$border-radius-xmd2: 18px;
$border-radius-lg: 24px;

